a:hover {
  color: red;
  text-decoration: none;
}

span.cent {
  color: blue;
  font-size: 30pt;
}

span.and {
  font-size: 20pt;
}

span.dollar {
  color: green;
  font-size: 30pt;
}

.table > tbody > tr > td {
    border-top: 0px solid black;
}

.form-group-req div{
    position:relative;
    margin-right:0px;
}

.form-group-req div:after{
    position:absolute;
    content:'*';
    font-size: 24px;
    color:red;
    right:-15px;
    top:0;
}

.col-sm-3 {
    text-align: right;
}
